/* === GLOBAL === */

html {
    font-size: 16px;
    font-family: 'Roboto';
}

body {
    margin: 0;
    background-color: #202124;
    height: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #b5b5b5 #1a1b1f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #1a1b1f;
}

*::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 10px;
    border: 3px solid #1a1b1f;
}

/* === GENERAL === */

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.scroll {
    width: 278px;
    height: 235px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 0 20px 24px 20px;
    margin-top: 22px;
}

.dNone {
    display: none !important;
}

.glowBtn {
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.3);
}

.btnStyle {
    background-color: #FFCB03;
    padding: 6px;
    border: 4px solid #3663AD;
    border-radius: 15px;
    cursor: pointer;
}

/* === LOADING-SCREEN === */

#loadingContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingImage {
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* === HEADER === */

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    box-shadow: 0px 4px 6px -2px rgba(26, 27, 31, 0.75),
        0px 10px 14px 1px rgba(26, 27, 31, 0.55),
        0px 0px 5px 0px rgba(26, 27, 31, 0.1);
    background: linear-gradient(to bottom, #1A1B1F, #202124);
}

header>a>img {
    height: 80px;
    padding-left: 24px;
}

.searchContainer {
    padding-right: 24px;
}

/* === POKEMON CARD SMALL === */

main {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.cardSmall {
    width: 250px;
    height: 180px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    margin: 8px;
    cursor: pointer;
}

.cardSmall:hover {
    animation: myAnimation 150ms ease-in-out
}

@keyframes myAnimation {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    50% {
        transform: matrix(1, 0, 0, 1, 0, -4);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.cardName {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 1rem;
}

.typeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 55px;
    left: 25px;
}

.type {
    color: white;
    font-size: .8rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px 16px 4px 16px;
    border-radius: 25px;
    margin-bottom: 6px;
    text-align: center;
}

.pokeballImage {
    position: absolute;
    right: -32px;
    bottom: -32px;
    height: 170px;
    width: 170px;
}

.cardImage {
    position: absolute;
    right: 8px;
    bottom: 8px;
    height: 120px;
    width: 120px;
    z-index: 1;
}

.cardOrder {
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(255, 255, 255, 0.5);
}


/* === FULL-CARD === */

.fullCardContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.card {
    width: 320px;
    height: 670px;
    position: relative;
    overflow: hidden;
}

.topPart {
    background-color: #59A952;
    height: 320px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.typeFullCard {
    margin-right: 8px;
}

.likeBtn {
    height: 30px;
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
}

.likeBtn:hover {
    transform: scale(1.1);
}

.closeBtn {
    height: 30px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}

.closeBtn:hover {
    transform: scale(1.1);
}

.fullCardOrder {
    color: white;
    position: absolute;
    top: 110px;
    right: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.fullCardName {
    color: white;
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 2rem;
}

.fullCardTypeContainer {
    color: white;
    position: absolute;
    top: 150px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.fullCardImage {
    height: 180px;
    position: absolute;
    top: 150px;
    left: 85px;
    z-index: 1;
}

.fullCardPokeballImage {
    height: 230px;
    width: 230px;
    position: absolute;
    top: 135px;
    right: -64px;
}

.bottomPart {
    background-color: #1A1B1F;
    height: 375px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.arrowContainer {
    width: 100%;
}

.rightArrowStyle {
    position: absolute;
    right: 12px;
    top: 8px;
}

.leftArrowStyle {
    position: absolute;
    left: 12px;
    top: 8px;
}

.leftArrowStyle,
.rightArrowStyle {
    height: 35px;
    cursor: pointer;
    opacity: .7;
}

.leftArrowStyle:hover,
.rightArrowStyle:hover {
    transform: scale(1.1);
}

.statsNav {
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 320px;
    top: 50px;
    font-size: .8rem;
    color: rgb(212, 212, 212);
}

.border {
    height: 1px;
    width: 228px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 75px;
    display: flex;
}

.stats {
    cursor: pointer;
}

.active {
    border-bottom: 2px solid white;
    padding-bottom: 9px;
}

/* === INFO-SECTION === */

#infoPokemon {
    width: 100%;
    color: rgb(212, 212, 212);
    font-size: .9rem;
    position: absolute;
    top: 76px;
}

/* === ABOUT-SECTION === */

.about {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;

}

.aboutRow {
    display: flex;
    align-items: center;
    min-height: 38px;
    width: 285px;
}

.aboutRow p {
    margin-top: 0;
    margin-bottom: 0;
}

.aboutRow h1 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.specs {
    width: 100px;
}

/* === PROGRESS-BAR-SECTION === */

.progressBarContainer {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

.statsBarRow {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
    text-align: center;
}

.statName {
    width: 100px;
    margin-bottom: 2px;
}

.progress {
    width: 100%;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.progressBar {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: .8rem;
    transition: width 325ms ease-in-out;
}

.movesContainer {
    display: flex;
    flex-wrap: wrap;
}

.typeMoves {
    width: 93%;
}

/* === MY-CARD-SECTION === */

#myCardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.favoritesBtn:hover {
    transform: scale(1.1);
}
